<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />

    <link href="static/reset.css" rel="stylesheet" type="text/css" />
    <link href="static/layout.css" rel="stylesheet" type="text/css" />
</head>
<body>

<a id="logout" href="/logout">Sair <img src="static/imgs/delete_16.png" /></a>

<strong>Usuario</strong>
<span><%= usuario.nome %> (<i><%= usuario.email %></i>)</span>
<hr />

<div class="quadro">
    <span class="flash success"><%= flash[:sucess] %></span>
    <span class="flash error"><%= flash[:error] && flash[:error].each {|e| e + "<br />" } %></span>

    <ul class="linha-quadro cabecalho-quadro">
        <li>Tarefas</li>
        <li class="quantidade">Vezes</li>
        <li class="dia-semana">Dom</li>
        <li class="dia-semana">Seg</li>
        <li class="dia-semana">Ter</li>
        <li class="dia-semana">Qua</li>
        <li class="dia-semana">Qui</li>
        <li class="dia-semana">Sex</li>
        <li class="dia-semana">Sab</li>
    </ul>

    <form method="post" action="adicionar_tarefa">
        <ul class="linha-quadro">
            <li>
                <input type="text" name="tarefa[nome]" />
            </li>
            <li class="quantidade">
                <input type="text" class="quantidade" name="tarefa[quantidade]" />
            </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[segunda]" /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[terca]"   /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[quarta]"  /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[quinta]"  /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[sexta]"   /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[sabado]"  /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[domingo]" /> </li>
            <li class="funcao">
                <input type="image" src="static/imgs/plus_32.png" />
            </li>
        </ul>
    </form>

    <% index = 0 %>
    <% tarefas.each do |tarefa| %>
    <form method="post" action="atualizar_tarefa/<%= tarefa.id %>">
        <% index += 1 %>
        <ul class="linha-quadro <%= index.odd? ? 'odd' : 'even' %>">
            <li>
                <input type="text" name="tarefa[nome]" value="<%= tarefa.nome %>" />
            </li>
            <li class="quantidade">
                <input type="text" class="quantidade" name="tarefa[quantidade]" value="<%= tarefa.quantidade %>" />
            </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[segunda]" <% if tarefa.segunda %>checked<% end %> /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[terca]"   <% if tarefa.terca %>checked<% end %> /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[quarta]"  <% if tarefa.quarta %>checked<% end %> /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[quinta]"  <% if tarefa.quinta %>checked<% end %> /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[sexta]"   <% if tarefa.sexta %>checked<% end %> /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[sabado]"  <% if tarefa.sabado %>checked<% end %> /> </li>
            <li class="dia-semana"> <input type="checkbox" name="tarefa[domingo]" <% if tarefa.domingo %>checked<% end %> /> </li>
            <li class="funcao">
                <input type="image" src="static/imgs/tick_32.png" name="atualizar" value="atualizar" />
                <input type="image" src="static/imgs/trash_32.png" name="remover" value="remover"
                    onClick="return confirm('Tem certeza que deseja deletar?')"
                />
            </li>
        </ul>
    </form>
    <% end %>
</div>

</body>

</html>
